/*==========
Scroll bar
==========*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
}


/*==========
General
==========*/

p,li{
  font-size: 16px;
}

img{
  width: 100%;
}

.main-heading{
  color: orange;
  text-decoration: underline;
  font-family: monospace;
}

section{
  margin-bottom: 20px;
}

/*==========
Gallery
==========*/

#gallery .container .row .col-sm-12{
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
}

#gallery .container .row .col-sm-12:hover{
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
}


/*==========
Contact
==========*/
.contact{
  justify-content: center;
}

.contact li{
  list-style: none;
  padding: 10px;
  display: inline;
}

.contact li a{
  font-size: 48px;
}

